<VirtualHost *:80>
# uncommment the line below if variable was set
#ServerName $my_domain
DirectoryIndex index.php index.html
DocumentRoot {{ i_dir }}
<Directory {{ i_dir }}>
  Options +FollowSymlinks -Indexes
  AllowOverride All
  Require all granted

 <IfModule mod_dav.c>
  Dav off
 </IfModule>

 SetEnv HOME {{ i_dir }}
 SetEnv HTTP_HOME {{ i_dir }}
</Directory>
</VirtualHost>
